#project{
    display: flex;
    align-items: center;
    padding: 50px 0 80px;
    width: 100%;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 80px;
}

#project > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    row-gap: 60px;
}

.project-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card-container{
    width: 33.33%;
}

@media screen and (max-width: 1326px) {
    .project-card-container{
        width: 50%;
    }
}

@media screen and (max-width: 876px) {
    .project-card-container{
        width: 100%;
    }
}

.project-card{
    pointer-events: all;
    position: relative;
    height: 250px;
}

.project-card::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
}

.project-card:hover::after{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;   
}

.project-card > img{
    object-fit: cover;
    border-radius: 10px;
}

.project-detail{
    visibility: hidden;
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.project-detail > div > h3{
    padding: 15px 0;
}

.project-detail > div > p{
    padding: 10px 8px;
}

.project-card:hover .project-detail{
    visibility: visible;
}

.project-link{
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-bottom: 15px;
}

.project-link > img:hover{
    position: relative;
    transform: scale(1.2);
    transition: 1s;
}